* {
    font-family: fantasy, serif;
}
#digitalWallet, .digital-wallet {
    height: 100%;
}
.formDW{
    font-family: fantasy, serif;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.btnConfirm {
    background: #038c7f;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;

    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.btnDenied{
    background: #d43a22;
    border: 0;
    margin-right: auto;
margin-left: auto;
margin-bottom: 10px;

width: 100%;
height: 50px;
border-radius: 5px;
color: white;
font-size: 20px;

}
.btnConfirm:hover {
    background-color: white;
    color: #038c7f;
    border: 2px solid #038c7f;
}
.btnDenied:hover {
    background-color: white;
    color: #d43a22;
    border: 2px solid #d43a22;
}
button {
    transition-duration: 0.4s;
}
.inputTextForm {
    background-color: #FFFFFF;
    border: 1px solid #d9dde1;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}
.errorInput{
    text-align: center;
}
.valid-input {
    color: #000000;
    transition: color .5s;
    background-color: #FFFFFF;
}
.valid-input :hover{
    color: #d43a22;
    background-color: #d43a22;
}
.titleInput{
    margin-top: 0px;
}
