.log {
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 50px;


    -webkit-box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
    -moz-box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
    box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
}
.header-Log{

    text-align: center;
}