
.fields {
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 50px;


    -webkit-box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
    -moz-box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
    box-shadow: 4px 7px 6px 0px rgba(163,163,163,1);
}

.userbar {
    height: 30px;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.userbar i {
    width: 50px;
    height: 30px;
    padding-top: 10px;
}
.lbInfoUser{
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    border-bottom-color: #038c7f;
}