.UnMoviento-conteiner{
    width: 90%;
    background-color: red;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 30px;

}
#money{
    color: #038c7f;
    width: auto;
}
#Bottom-border{
    border-bottom: 1px solid;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 30px;
    width: 900px;
}
.children{
    width: auto;
    margin-bottom: 12px;
    margin-right: 110px;
    font-size:  22px;
}

.description{
    width: auto;
    margin-right: 110px;
    margin-bottom: 12px;
    font-size:  22px;
}

