.App {
  text-align: center;
  background-color: #7f8c8d;
  min-height: 100vh;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-link {
  color: #09d3ac;
}

.DivLog {
  border: #282c34;
}